<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomConfigSection"
    type="Task4.Configuration.CustomConfigSection, Task4" />
  </configSections>
  <CustomConfigSection name="CustomConfigSection1" count ="0">
    <culture name="English"/>
    <directories>
      <directory path="D:\"></directory>
    </directories>
    <rules>
      <rule pattern=".*.bmp" destinationFolder="Images"></rule>
    </rules>
  </CustomConfigSection>
</configuration>